#messages {
	border:1px sold #A9F5A9;
	width:300px;
	height:300px;
	overflow:auto;
}

#myCanvas{
	background-image:url('');
	background-size:cover;
	background-position: center;
	height:480px;
	width:600px;
}

.flex-item{
    align-items: center;
    width: 100%;
    padding: 2em;
}

#album_imgs{
    overflow: hidden;
    height: 100px;
    width: 85%;
    white-space: nowrap;
}

#album_imgs:hover{
    overflow-x: scroll;
}




