{% extends 'layout.html' %}

{% block body %}
<script src="{{ url_for('static', filename='../static/api.js') }}"></script>

	<!-- landing page -->
	<div class="bg-secondary">

		<div class="mx-auto container bg-light" style="width: 800px; height:1000px;">

			<div class="text-center">
			<h2>Plank Filter Masterf!<h2><br>
			</div>

			<form class="text-center" method="POST" name="upload" enctype="multipart/form-data" action="/filter">
				<input type="file" id="img" name="img"/>

				<br/>
				<input type="text" id="album" name="album" placeholder="album"/>
				<select id="filter" name="filter">
					<option value="f1">Filter 1</option>
					<option value="f2">Filter 2</option>
					<option value="f3">Filter 3</option>
				</select>
				
				<button id="submit_handlr" type="button">submit</button>

			</form>


			<div class="text-center" id="filtered"></div>
		</div>
	</div>

{% endblock %}
