{% extends 'layout.html' %}

{% block body %}
    <!-- landing page -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js'></script>

<script type="text/javascript">
$(document).ready(function() {
	var socket = io.connect('https://plank-filter-master.herokuapp.com/');
	socket.on('message', function(msg) {
		$("#messages").append('<p>'+msg+ '</p>');
	});
	$('#sendbutton').on('click', function() {
		socket.send("{{ name_ }}" + ": " + $('#myMessage').val());
		$('#myMessage').val('');
	});
});
</script>
    <div style="margin: 0 auto; width: 80%; height: 100%;">
        <div id="album" style="width: 100%; height: 50px; display:flex; align-items: center; margin: 30px; padding-top: 30px;">
            <form id="album-selection" method="POST" action="{{ url_for('lobby_select_album') }}">
                <label>Album:</label>
                <div class="form-group" style="width: 150px; padding-right: 30px;">
                    <div class="input-group">
                        <select id="get-album" name="album_name" class="selectpicker form-control">
                            {% for album_name in album_names %}
                                {% if album_name == selected_album %}
                                    <option value="{{ album_name }}" selected>{{ album_name }}</option>
                                {% else %}
                                    <option value="{{ album_name }}">{{ album_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>

            <script>
                function changeBackground(img){
                    const socket = io.connect('https://plank-filter-master.herokuapp.com/')
                    console.log("does socket exist", socket);
                    $('#myCanvas').css('background-image', "url(" + img + ")");
                    socket.emit("change-background", img)
                }
            </script>
            <div id="album_imgs">
                {% if image_names|length > 0 %}
                    {% for image in image_names %}
                        <img onclick="changeBackground(`{{ url_for('static', filename='./imgs/' + image) }}`)" src="{{ url_for('static', filename='./imgs/' + image) }}" style="cursor: pointer; background-size:cover; background-position:center; height:100px; width: 100px; margin:auto;"/>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center;">There's nothing in this album...</p>
                {% endif %}
            </div>
        </div>
    
		<div id = 'canvasBackGround' style="display: inline-block;">
			<canvas id="myCanvas" width="600px" height="480"></canvas>
		</div>
		<div style="display: inline-block;">
	    	<div class="content">
	        	<ul id="messages"></ul>
	    	</div>
	    	<br>
	    	<input type="text" placeholder="message" id="myMessage">
            <button id="sendbutton">Send</button>

	    </div>
   	</div>
   	<br>
   
    <script type='module' src="{{ url_for('static', filename='../static/show-multiple-users.js') }}"></script>
    <script type='module' src="{{ url_for('static', filename='../static/change-background.js') }}"></script>
    <script type='module' src="{{ url_for('static', filename='../static/api.js') }}"></script>

{% endblock %}

